*{
  font-family:'Times New Roman', Times, serif;
  overflow-x: hidden;
  
  word-break: break-all;
}
.dark-Shadow-Font{
  text-shadow: 0.2rem 0.2rem 0.2rem white;
  opacity: 0.5;
}

.dark-Shadow-Font:hover{
  opacity: 1;
}

.footer-set{
  background-color: rgb(248, 190, 0);
  width:100%;
}

.customSticky{
  background-color: red !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;

}
/* ----------------------------*/


